* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --seafoam: #93cccf;
    --gray: #30343c;
    --dustyblue: #455876;
    --side-header-margin: 300px;
    --big-pic-width: 290%;
    --bottom-space: 25px;
}

/* page background color */
body {
    background-color: #c0c0c0;
}

/* an early"attempt" at figuring out flex for the nav bar */
.header {
    padding: 0px;
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header h1 {
    color: var(--gray);
    background-color: var(--seafoam);
    padding: 10px 15px 10px 35px;
}

.header nav {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

/* removes bullet points in unordered list */
.header nav ul {
    list-style-type: none;
}

/* lines them horizontally and adds spacing to the left. */
.header nav ul li {
    display: inline-block;
    padding-left: 15px;
}

/* since the list items are wrapped around 'a', 'a' is the one that needs the text dec and font color. */
li a {
    color: var(--seafoam);
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 4px solid var(--seafoam);
    font-size: 25px;
    padding-top: 20px;
}

h1 {
    margin: 10px 0;
}

/* backround wood image */
#background {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;

    height: 200px;
    width: 100%;
    margin-bottom: var(--bottom-space);
    background-image: url("../assets/images/depositphotos_77651008-stock-photo-blue-gray-painted-wood-planks.jpeg");
    background-size: cover;
    background-position: center;
}

/* couldnt sort this mess out. Intension was to customize where the "cool subtitle here!" would live */
/* #on-back {
    color: var(--gray);
    background-color: var(--seafoam);
    padding: 4px;
    width: 16%;
    
    left: 75%;
    position: absolute;
    bottom: 475px;
    right: 50px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 175%;
    border-radius: ;
} */

#background p {
    background-color: var(--seafoam);
    color: var(--gray);
    margin: 0;
    padding: 5px 10px;
    line-height: 1.2;
    display: inline;
}

/* the internal border line next to the body headers */
.about-me,
.container,
.contact ul {
    border-left: solid 3px var(--dustyblue);
    padding-left: 1rem;
}

.side-header {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

/* About Me */
.about {
    display: flex;
    align-items: center;
    width: 98%;
    margin-bottom: var(--bottom-space);
}

/* unsure how/why i got into the first-child stuff. but removing it now breaks the design */
.about :first-child {
    width: var(--side-header-margin);
}

#about-me p {
    padding-left: 20px;
}


/* Work Examples */
img {
    border: solid 5px var(--seafoam);
}

.img-box {
    position: relative;
    text-align: center;
    color: var(--gray);
}

.img-text {
    position: absolute;
    bottom: 35px;
    background: var(--seafoam);
    padding-left: 20px;
    color: var(--gray);
}

/* tint for the main image */
.tint {
    position: relative;
    cursor: pointer;
}

.tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--seafoam);
    opacity: .3;
    transition: all .3s linear;
    width: var(--big-pic-width);
}

.tint:hover:before {
    background: none;
}

/* tint for the smaller images */
.tint-small {
    position: relative;
    cursor: pointer;
}

.tint-small:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--seafoam);
    opacity: .3;
    transition: all .3s linear;
    width: 145%;
}

.tint-small:hover:before {
    background: none;
}


/*  work */
.work {
    display: flex;
    align-items: center;
    width: 98%;
    margin-bottom: var(--bottom-space);
}

.work :first-child {
    width: var(--side-header-margin);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.b1 {
    flex: 100%;
}

.b2 {
    flex: 48%;
}

.b3 {
    flex: 48%;
}

.box .side-header {
    border: var(--seafoam) solid 3px;
}

/* Contact Me*/
.contact {
    display: flex;
    align-items: center;
}

.contact :first-child {
    width: var(--side-header-margin);
}

#cont {
    display: flex;
    justify-content: center;
}

#number {
    display: flex;
    justify-content: center;
    flex: 1 1 0;
    align-items: center;
    text-decoration: underline;
    color: var(--gray);
   
}

#email {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}

.git {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}

#email a {
    color: var(--gray);
    border: none;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
   
}

.git a {
    color:var(--gray);
    border: none;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

/* footer */
.footer {
    text-align: center;
    margin: 2rem;
}



/* Media Query - Desktop*/
@media screen and (max-width: 992px) {}

/* Media Query - tablets*/
@media screen and (max-width: 768px) {}


/* Media Query - phones*/
@media screen and (max-width: 576px) {}